parameters:
  - name: agents
    type: object
  - name: configs
    type: object

stages:
  - ${{ each agent in parameters.agents }}:
      - ${{ if not(agent.skip) }}:
          - ${{ each config in parameters.configs }}:
              - ${{ if not(config.skip) }}:
                  - stage: ${{ replace(agent.os, '-', '_') }}_${{ config.queue }}_${{ replace(config.scu, '.', '_') }}
                    dependsOn: []
                    pool:
                      name: smoketests-middleware
                      demands:
                        - SmokeTests
                        - SmokeTests.Queue.${{ config.queue }}
                        - SmokeTests.SCU.${{ config.scu }}
                        - SmokeTests.OS -equals ${{ agent.os }}
                    jobs:
                      - template: helpers/job.yaml
                        parameters:
                          test: 1-3
                          pre: ${{ config.pre }}
                          post: ${{ config.post }}
                          queue: ${{ config.queue }}
                          scu: ${{ config.scu }}
                          cashbox: ${{ config.cashbox }}
                          target: ${{ agent.target }}
                          os: ${{ agent.os }}

                      - template: helpers/job.yaml
                        parameters:
                          test: 2-0
                          pre: ${{ config.pre }}
                          post: ${{ config.post }}
                          queue: ${{ config.queue }}
                          scu: ${{ config.scu }}
                          cashbox: ${{ config.cashbox }}
                          target: ${{ agent.target }}
                          os: ${{ agent.os }}
