name: Check PullRequest labels

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled

jobs:
  check-labels:
    name: Check labels
    runs-on: ubuntu-latest
    steps:
      - uses: docker://agilepathway/pull-request-label-checker:latest
        with:
          none_of: status-
          prefix_mode: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker://agilepathway/pull-request-label-checker:latest
        with:
          one_of: category-
          prefix_mode: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
