name: Check PullRequest labels

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v6
        with:
          sync-labels: true

  check-labels:
    name: Check labels
    runs-on: ubuntu-latest
    needs: labeler
    steps:
      - uses: docker://agilepathway/pull-request-label-checker:latest
        with:
          none_of: status-
          prefix_mode: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker://agilepathway/pull-request-label-checker:latest
        with:
          one_of: category-
          prefix_mode: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
