name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  id-token: write
  contents: read
  issues: write
  pull-requests: write

jobs:
  CLAAssistant:
    # Only run on PR comments, not issue comments
    if: |
      (github.event_name == 'pull_request_target') ||
      (github.event_name == 'issue_comment' && github.event.issue.pull_request)
    runs-on: ubuntu-latest
    steps:
      - name: "Run CLA Assistant"
        uses: fiskaltrust/cla-signatures/.github/actions/cla-assistant@main
        with:
          claDocumentFile: "https://github.com/fiskaltrust/.github/blob/main/CLA.md"
          claSignatureRepo: "fiskaltrust/cla-signatures"
          claSignatureRepoToken: "${{ secrets.CLA_SIGNATURE_REPO_TOKEN }}"
          claSignatureFile: "cla-signatures.json"
          prNumber: "${{ github.event.pull_request.number || github.event.issue.number }}"
          allowList: "ReleaseBot"
