name: "Release"
on:
  release:
    types: [published]

run-name: Release ${{ github.event.release.tag_name }}

permissions:
  checks: write
  pull-requests: write
  id-token: write
  contents: read

jobs:
  check-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Validate tag format
        run: |
          TAG="${{ github.event.release.tag_name }}"
          if [[ "$TAG" =~ ^(queue|scu-at|scu-de|scu-es|scu-it)/.+/v.* ]]; then
            echo "✅ Tag '$TAG' matches expected pattern"
          else
            echo "❌ Tag '$TAG' does not match expected pattern (queue|scu-at|scu-de|scu-es|scu-it)/<package>/v*"
            exit 1
          fi

  test-queue:
    needs: [check-tag]
    if: startsWith(github.event.release.tag_name, 'queue/')
    uses: ./.github/workflows/queue-build.yml
    secrets: inherit

  test-scu-at:
    needs: [check-tag]
    if: startsWith(github.event.release.tag_name, 'scu-at/')
    uses: ./.github/workflows/scu-at-build.yml
    secrets: inherit

  test-scu-de:
    needs: [check-tag]
    if: startsWith(github.event.release.tag_name, 'scu-de/')
    uses: ./.github/workflows/scu-de-build.yml
    secrets: inherit

  test-scu-es:
    needs: [check-tag]
    if: startsWith(github.event.release.tag_name, 'scu-es/')
    uses: ./.github/workflows/scu-es-build.yml
    secrets: inherit

  test-scu-it:
    needs: [check-tag]
    if: startsWith(github.event.release.tag_name, 'scu-it/')
    uses: ./.github/workflows/scu-it-build.yml
    secrets: inherit

  meta:
    needs: [check-tag]
    runs-on: windows-latest
    outputs:
      project: ${{ steps.meta.outputs.project }}
      package: ${{ steps.meta.outputs.package }}
      directory: ${{ steps.meta.outputs.directory }}
    steps:
      - uses: actions/checkout@v4

      - id: meta
        shell: pwsh
        run: |
          if(!("${{ github.event.release.tag_name }}" -match "([a-z-]+)/([^/]+)/v.*")) {
            throw "Invalid tag format"
          }
          $directory = $matches[1]
          $package = $matches[2]
          Write-Output "package=$package"
          Write-Output "package=$package" >> $env:GITHUB_OUTPUT
          Write-Output "directory=$directory/src"
          Write-Output "directory=$directory/src" >> $env:GITHUB_OUTPUT
          $prefix = ""
          if($directory -eq "queue") {
            $prefix = "fiskaltrust.Middleware.Queue"
          } elseif($directory -match "scu-([a-z]{2})") {
            $prefix = "fiskaltrust.Middleware.SCU.$($matches[1].ToUpper())"
          }
          $project = $(Get-Item "$directory/src/$prefix.$package").Name
          Write-Output "project=$project"
          Write-Output "project=$project" >> $env:GITHUB_OUTPUT

  test-queue-acceptance:
    if: startsWith(github.event.release.tag_name, 'queue/')
    concurrency:
      group: queue-acceptance-tests
    needs: [meta, test-queue]
    secrets: inherit
    uses: ./.github/workflows/queue-acceptance-tests.yml
    with:
      only: fiskaltrust.Middleware.Storage.${{ needs.meta.outputs.package }}.AcceptanceTest

  package:
    needs:
      [
        meta,
        test-queue,
        test-queue-acceptance,
        test-scu-at,
        test-scu-de,
        test-scu-es,
        test-scu-it,
      ]
    if: (!failure())
    secrets: inherit
    uses: ./.github/workflows/package.yml
    with:
      pattern: ${{ needs.meta.outputs.project }}
      directory: ${{ needs.meta.outputs.directory }}
      deploySandbox: true

  production:
    needs: [meta, package]
    if: (!failure())
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/deploy.yml
    with:
      package: ${{ needs.meta.outputs.project }}
      environment: production
