name: SCU.ES CI

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      commit:
        type: string
        required: false
  pull_request:
    paths:
      - .github/workflows/**
      - scu-es/**

jobs:
  test:
    name: Test
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit }}
          fetch-depth: 0

      - uses: ./.github/actions/build
        with:
          pattern: scu-es/fiskaltrust.Middleware.SCU.ES.sln
          configuration: Debug

      - name: Unit Tests
        uses: ./.github/actions/test
        with:
          directory: scu-es/test
          pattern: "UnitTest"
          args: "--no-build --filter only!=local"

      - name: Integration Tests
        uses: ./.github/actions/test
        with:
          directory: scu-es/test
          pattern: "IntegrationTest"
          args: "--no-build"

  publish-test-results:
    name: Publish Tests Results
    needs: test
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    if: (!cancelled())

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          check_name: SCU.ES Test Results
          check_run: false
          comment_mode: always
          files: "artifacts/**/*.trx"
          commit: ${{ inputs.commit }}
