name: Slash Command Dispatch

on:
  issue_comment:
    types: [created]

permissions:
  issues: write
  pull-requests: write
  checks: write

jobs:
  slashCommandDispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@v4
        with:
          token: ${{ secrets.SLASH_COMMAND }}
          reaction-token: ${{ secrets.GITHUB_TOKEN }}
          config: >
            [
              {
                "command": "run",
                "permission": "write",
                "issue_type": "pull-request",
              },
              {
                "command": "package",
                "permission": "write",
                "issue_type": "pull-request",
              },
              {
                "command": "deploy",
                "permission": "write",
                "issue_type": "pull-request",
              },
              {
                "command": "version",
                "permission": "write",
                "issue_type": "pull-request",
              },
              {
                "command": "release",
                "permission": "write",
                "issue_type": "pull-request",
              },
              {
                "command": "merge",
                "permission": "write",
                "issue_type": "pull-request",
              },
              {
                "command": "release-notes",
                "permission": "write",
                "issue_type": "pull-request",
                "repository": "fiskaltrust/release-notes"
              },
            ]
