parameters:
- name: stages
  type: stageList

- name: type
  type: string

- name: artifact
  type: string
  default: current

- name: projects
  type: object

stages:
- ${{ each project in parameters.projects }}:
  - ${{ each stage in parameters.stages }}:
    - ${{ each pair in stage }}:
        ${{ if eq(pair.key, 'stage') }}:
          stage: ${{ pair.value }}_${{ project }}
        ${{ else }}:
          ${{ pair.key }}: ${{ pair.value }}
      
      displayName: ${{ stage.templateContext.environment }} ${{ project }}

      ${{ if ne(stage.templateContext.dependsOnPrefix, '') }}:
        dependsOn: ${{ stage.templateContext.dependsOnPrefix }}_${{ replace(project, '.', '_') }}

      ${{ if eq(stage.templateContext.environment, 'production-legacy') }}:
        condition: and(startsWith(variables['Build.SourceBranch'], 'refs/tags/'), contains(variables['Build.SourceBranch'], lower('/${{ project }}/v')))
      ${{ else }}:
        condition: or(not(startsWith(variables['Build.SourceBranch'], 'refs/tags/')), and(startsWith(variables['Build.SourceBranch'], 'refs/tags/'), contains(variables['Build.SourceBranch'], lower('/${{ project }}/v'))))

      jobs:
        - deployment: Release

          pool:
            vmImage: windows-latest

          environment: ${{ stage.templateContext.serviceConnection }}

          variables:
            - group: PackageCache

          strategy:
            runOnce:
              deploy:
                steps:
                  - download: ${{ parameters.artifact }}
                    artifact: packages-v1
                    displayName: "Download artifact"

                  - task: AzureCLI@2
                    displayName: "Publish to blob storage"
                    inputs:
                      azureSubscription: ${{ stage.templateContext.serviceConnection }}
                      scriptType: ps
                      scriptLocation: inlineScript
                      inlineScript: |
                        az storage blob upload-batch --account-name ${{ stage.templateContext.storage }} -d "packages" -s "$(Pipeline.Workspace)/${{ parameters.artifact }}/packages-v1/" --pattern "${{ parameters.type }}.${{ project }}.*.nupkg"
                  
                  - pwsh: |
                      if("${{ stage.templateContext.environment }}" -ne "production-legacy") {
                        $sandbox = "-sandbox"
                      }
                      for($i = 0;$i -lt 10;$i++) {
                        Invoke-WebRequest -Method POST -Headers @{"fiskaltrust" = $env:PACKAGE_CACHE_SECRET} "https://packages$sandbox.fiskaltrust.cloud/refreshcache"
                      }
                    env:
                      PACKAGE_CACHE_SECRET: $(PackageCacheSecret)