resources:
  - repo: self

trigger:
  batch: true
  branches:
    include:
      - main
      - refs/tags/scu-it/*
  paths:
    include:
      - scu-it

pr:
  branches:
    include:
      - main
      - refs/tags/scu-it/*
  paths:
    include:
      - scu-it

variables:
  - group: "Code Signing Certificates"
  - name: BuildConfiguration
    value: release
  - name: Solution
    value: "fiskaltrust.Middleware.SCU.IT.sln"
  - name: vmImageName
    value: "windows-2022"
  - name: WorkingDirectory
    value: "scu-it"

stages:
  - stage: Test
    jobs:
      - job: Test
        displayName: Unit and integration tests
        pool:
          vmImage: $(vmImageName)
        steps:
          - template: templates/scu-it/test.template.yml

  - stage: Build
    dependsOn: Test
    jobs:
      - job: BuildNugetPackages
        displayName: Build v1 NuGet packages
        dependsOn: []
        pool:
          vmImage: $(vmImageName)
        steps:
          - template: templates/scu-it/build-nuget.template.yml

      - job: BuildZipPackages
        displayName: Build v2 zip packages
        dependsOn: []
        pool:
          vmImage: $(vmImageName)
        steps:
          - template: templates/build-zip.yml
            parameters:
              workingDirectory: scu-it
              projects:
                - fiskaltrust.Middleware.SCU.IT.Epson
                - fiskaltrust.Middleware.SCU.IT.CustomRTServer
                - fiskaltrust.Middleware.SCU.IT.CustomRTPrinter
