resources:
  - repo: self

trigger:
  batch: true
  branches:
    include:
      - main
      - refs/tags/scu-de/*

pr:
  branches:
    include:
      - main
      - refs/tags/scu-de/*
  paths:
    include:
      - scu-de

variables:
  - group: "Code Signing Certificates"
  - name: BuildConfiguration
    value: release
  - name: Solution
    value: "fiskaltrust.Middleware.SCU.DE.sln"
  - name: vmImageName
    value: "windows-latest"
  - name: WorkingDirectory
    value: "scu-de"

stages:
  - stage: Test
    jobs:
      - job: Test
        displayName: Unit and integration tests
        pool:
          vmImage: $(vmImageName)
        steps:
          - template: templates/scu-de/test.template.yml

  - stage: Build
    dependsOn: Test
    jobs:
      - job: BuildNugetPackages
        displayName: Build v1 NuGet packages
        dependsOn: []
        pool:
          vmImage: $(vmImageName)
        steps:
          - template: templates/scu-de/build-nuget.template.yml
  
      - job: BuildZipPackages
        displayName: Build v2 zip packages
        dependsOn: []
        pool:
          vmImage: $(vmImageName)
        steps:
          - task: JavaToolInstaller@0
            inputs:
              versionSpec: "11"
              jdkArchitectureOption: "x64"
              jdkSourceOption: "PreInstalled"
          - template: templates/build-zip.yml
            parameters:
              workingDirectory: scu-de
              projects:
                - fiskaltrust.Middleware.SCU.DE.CryptoVision
                - fiskaltrust.Middleware.SCU.DE.DieboldNixdorf
                - fiskaltrust.Middleware.SCU.DE.Epson
                - fiskaltrust.Middleware.SCU.DE.FiskalyCertified
                - fiskaltrust.Middleware.SCU.DE.Swissbit
                - fiskaltrust.Middleware.SCU.DE.DeutscheFiskal
                - fiskaltrust.Middleware.SCU.DE.SwissbitCloud
                - fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2               
                - fiskaltrust.Middleware.SCU.DE.InMemory
