resources:
  pipelines:
    - pipeline: build
      source: fiskaltrust.Middleware.SCU.ME
      trigger:
        branches:
          include:
            - main
        tags:
          - refs/tags/scu-me/*/v*

trigger: none
pr: none

stages:
  - template: templates/release.yml
    parameters:
      type: fiskaltrust.Middleware.SCU.ME
      artifact: build
      projects:
        - InMemory
      stages:
        - stage: Release_Sandbox
          dependsOn: []
          templateContext:
            environment: sandbox
            storage: stdevwesteuropepackages
            serviceConnection: rg-dev-westeurope-packages

        # - stage: Release_Production
        #   templateContext:
        #     environment: production
        #     storage: stwesteuropepackages
        #     serviceConnection: rg-westeurope-packages
        #     dependsOnPrefix: Release_Sandbox
