resources:
  pipelines:
    - pipeline: build
      source: fiskaltrust.Middleware.SCU.DE
      trigger:
        tags:
          - refs/tags/scu-de/*/v*

trigger: none
pr: none

stages:
  - template: templates/release.yml
    parameters:
      type: fiskaltrust.Middleware.SCU.DE
      artifact: build
      projects:
        - CryptoVision
        - DieboldNixdorf
        - Epson
        - FiskalyCertified
        - Swissbit
        - DeutscheFiskal
        - SwissbitCloud
        - InMemory
      stages:
        - stage: Release_Sandbox
          dependsOn: []
          templateContext:
            environment: sandbox
            storage: stdevwesteuropepackages
            serviceConnection: rg-dev-westeurope-packages

        - stage: Release_Production
          templateContext:
            dependsOnPrefix: Release_Sandbox
            environment: production
            storage: stprodwesteuropepackages
            serviceConnection: rg-prod-westeurope-packages
